<div class="row small-up-2 medium-up-3 large-up-6">
      {{#each items as |item|}}
      <div class="column">
        <img class="thumbnail" src="{{item.filename}}">
        <h5><a href="/product/{{item.id}}">{{item.product_name}}</a></h5>
        <p>${{item.price}}</p>
        <a href="/product/{{item.id}}" class="button small expanded hollow">View</a>
      </div>
      {{/each}}
    </div>