{{#each items as |item|}}

<div class="row column text-center">
      <h2 class="featured">Featured Today!</h2>
      <hr>
    </div>

    <div class="row small-up-2 medium-up-3 large-up-6">
      <div class="column">
        <img class="thumbnail" src="https://i.pinimg.com/736x/b5/b3/39/b5b339ffed05df695a2016776a070d9f.jpg">
        <h5>{{product.name}}</h5>
        <p>${{product.price}}</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://www.familyhandyman.com/wp-content/uploads/2018/02/P1022169_2.jpg?fit=696,696">
        <h5>{{product.name}}</h5>
        <p>${{product.price}}</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://i.pinimg.com/originals/d2/39/58/d2395800a32cef11125b7a764aa67762.jpg?fit=696,696">
        <h5>{{product.name}}</h5>
        <p>${{product.price}}</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://www.personalizationmall.com/cat_image/600/18335-41651-170209145115.jpg">
        <h5>{{product.name}}</h5>
        <p>${{product.price}}</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://i.pinimg.com/736x/ca/01/f9/ca01f9fd17d01d826531cf71cb6a6eca.jpg">
        <h5>{{product.name}}</h5>
        <p>${{product.price}}</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://i.pinimg.com/736x/ca/34/c9/ca34c9dfef6f26fcddd1ec9c41dffe2e.jpg">
        <h5>{{product.name}}</h5>
        <p>${{product.price}}</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
    </div>
    {{/each}}